body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #616161;
    color: white;
    animation: colorChange 14.5s infinite;
}

@keyframes colorChange {
    0%, 100% {
        background-color: #333; /* Color inicial y final */
    }
    25% {
        background-color: #ffffff; /* Color a los 25% de la animación */
    }
    35% {
        background-color: #b07575; /* Color a los 25% de la animación */
    }
    50% {
        background-color: #ea2d2d; /* Color a los 50% de la animación */
    }
    75% {
        background-color: #333; /* Color a los 75% de la animación */
    }
}


header {
    background-color: #ae3a3a;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(253, 252, 252, 0.1);
    animation: bounceOnce 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    opacity: 1;
    transition: opacity 0.5s ease;
}

header h1 {
    font-family: 'EB Garamond', serif;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#proyectos p{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    
}

.welcome-text {
    margin-bottom: 30px;
}

article {
    position: relative;
    width: 250px;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
}

article img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    transition: opacity 0.6s ease; /* Agregamos una transición para la propiedad de opacidad */
    opacity: 1; /* Establecemos la opacidad inicial a 1 */
}
article:hover img:first-child {
    opacity: 0; /* Cuando se pasa el mouse, la primera imagen se vuelve invisible */
}

article img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: opacity 0.9s ease; /* Agregamos una transición para la propiedad de opacidad */
    opacity: 0;
}

article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

article::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all 0.3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1; /* Cuando se pasa el mouse, la segunda imagen se vuelve visible */
}

article:hover img:last-child {
    opacity: 1;
    transform: translateZ(10%);
}

/* Agregamos el siguiente estilo para que la segunda imagen desaparezca difuminadamente */
article img:last-child.fade-out {
    opacity: 0;
}

article:hover img:last-child.fade-out {
    opacity: 1;
}


.logo-container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

.foto {
    max-width: 100%;
    width: 230px;
    height: 40vh;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    z-index: 2;
}
#inicio .foto {
    transition: transform 0.7s ease-in-out;
}

#inicio .foto:hover {
    transform: scale(1.2); /* Puedes ajustar el valor según sea necesario para obtener el efecto de zoom deseado */
}

/*desaparicion nav*/


header.hidden {
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 480px) {
    .foto {
        width: calc(50% - 20px);
        margin: 5px;
    }
}

@media screen and (max-width: 768px) {
    .foto {
        width: 100%;
        margin: 5px;
    }
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 23px;
    margin: 0 20px;
    transition: color 0.5s ease;
}

nav a:hover {
    color: #11fd87; /* Color cyan neón */
}

section {
    padding: 60px 20px;
    background-color: #333;
  
    border-radius: 5px;
    text-align: center;
    margin-top: 70px;
}

h2{
    color: #dcfdf7d0; /* Color cyan neón */
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
p{
    font-family: 'EB Garamond', serif;
    font-size: 25px;  
    color: #2a2a2a;
}
#proyectos {
    text-align: center;
}

.proyecto {
    margin: 20px 0;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.proyecto h3 {
    color: #00ffcc;
    font-family: 'EB Garamond', serif;
}



.foto-registro {
    max-width: 100%; /* Cambiado de width a max-width */
    max-height: 100%;
    width: 300px;
    height: 280px; /* Hacer que la altura se ajuste proporcionalmente al ancho */
    border-radius: 10px;
    transition: transform 0.3s;
    margin-bottom: 10px;
}
.foto-registro:hover{
    transform: scale(1.1); 
}
@media screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    nav a {
        font-size: 16px;
        margin: 0 10px;
    }
}

#inicio {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.welcome-text {
    margin-bottom: 30px;
}

.welcome-text h2 {
    color: #333;
    font-size: 28px;
}

.welcome-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



#presentacion-habilidades img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}



#presentacion-habilidades h2 {
    color: #333;
    margin-top: 40px;
}



/* Estilos generales de la galería */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

/* Estilos específicos para pantallas pequeñas (smartphones) */
@media screen and (max-width: 767px) {
    .gallery-container {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
        margin: 0 auto; /* Centra la galería en pantallas pequeñas */
        max-width: 80%; /* Puedes ajustar el ancho máximo según tus necesidades */
    }
}



#presentacion-habilidades h2 {
    color: #00ffcc;
}


#presentacion-habilidades {
    text-align: center;
    background-color: white;
}


#presentacion-habilidades p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#presentacion-habilidades h2 {
    color: #333;
    margin-top: 40px;
}


.foto-objetivos{
    max-width: 100% ;
    max-height: 100%;
    height: 26vh;
    width: 30vh;
    margin: 10px;
    border-radius: 10px;
    
    box-shadow: 2px 2px 2px 2px #8b8a8a;
    

}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}



/******/
#galeria {
    text-align: center;
    background-image: url(pexels-freestocksorg-34407.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}




.foto2{
    max-width: 100%;
    width: 230px; /* Cambiado de max-height a max-width */
    height: 220px; /* Hacer que la altura se ajuste proporcionalmente al ancho */
    border-radius: 10px;
    margin-top: 20vh;
    box-shadow: 2px 2px 2px 2px rgb(16, 5, 5);
    
}

#presentacion-habilidades h2{
    color: rgb(24, 70, 19);
}


/*boton subida
*/

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #57c5edda; /* Color del botón */
    box-shadow: 1px 1px 1px 1px black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.2s ease-in-out;
}

#scrollToTopBtn:hover {
    background-color: #a596e6; /* Cambia el color al pasar el ratón sobre el botón */
}

#scrollToTopBtn.show {
    opacity: 1;
}

#objetivos {
    text-align: center;
    padding: 50px 0;
    background-color: #ffffff
    
}


#objetivos h2 {
    font-size: 2.5em;
    color: #dbd9d9;
    margin-bottom: 20px;
}



.parrafo-background {
    background-color: rgb(235, 200, 166);
    border-radius: 8px;
    margin: 0;
    
    
}



span{
    color: rgb(5, 5, 5);
    background-color: #dbd9d9;
    padding: 5px;
    border-radius: 5px;
}
.foto-objetivos {
    max-width: 100%;
    width: 250px; /* Tamaño inicial de las imágenes */
    transition: transform 0.3s ease;
}


.foto-objetivos:hover {
    transform: scale(1.1); /* Escala aumentada para el efecto de zoom */
}
.adicionales h1{
    font-family: 'EB Garamond', serif;
}

.adicionales p,h2{
    font-family: 'EB Garamond', serif;
    color: #e0e5e2;
}
.adicionales img{
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    border-radius: 5px;
    transition: transform 0.3s ease;

}

.adicionales img:hover{
    transform: scale(1.1);

}