body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #6b6a6a;
    color: #fff;
}

header {
    background-color: #771313;
    padding: 15px 20px; /* Ajuste el espaciado según sus preferencias */
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(253, 252, 252, 0.1);
    animation: bounceOnce 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

header h1{
    font-family: 'EB Garamond', serif;
}

@keyframes bounceOnce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00ffcc; /* Color cyan neón */
}

section {
    padding: 60px 20px;
    background-color: #333;
    border-top: 2px solid rgb(39, 160, 61);
    text-align: center;
    margin-top: 70px;
}

h2, p {
    color: #dcfdf7; /* Color cyan neón */
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}

#proyectos {
    text-align: center;
}

.proyecto {
    margin: 20px 0;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.proyecto h3 {
    color: #00ffcc;
    font-family: 'EB Garamond', serif;
}

.foto {
    max-width: 100%;
    width: 230px; /* Cambiado de max-height a max-width */
    height: 220px; /* Hacer que la altura se ajuste proporcionalmente al ancho */
    border-radius: 10px;
}

.foto-registro {
    max-width: 100%; /* Cambiado de width a max-width */
    max-height: 100%;
    width: 300px;
    height: 280px; /* Hacer que la altura se ajuste proporcionalmente al ancho */
    border-radius: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    header {
        padding: 10px; /* Ajuste el espaciado según sus preferencias */
    }

    nav a {
        font-size: 16px;
        margin: 0 10px;
    }

    .container {
        width: 90%;
    }
}


/* Estilo para la lista desordenada */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

