body {
    margin: 0;
    padding: 0;
    
    font-family: 'Arial', sans-serif;
    background-color: #c0c76e;
    font-size: 16px;
    cursor: url(cursor.png), auto;
    animation: colorChange 20s infinite;
}
#scrollToTopBtn {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 25px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    font-size: 16px; /* Tamaño de la fuente */
    
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde la izquierda */
    cursor: pointer; /* Cambiar el cursor al pasar */
    border-radius:50%; /* Radio del borde */
    z-index: 3; /* Capa z para estar por encima de otros elementos */
    
}

#scrollToTopBtn .arrow {
    font-size: 20px; 
}



.enlaces-pag{
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    transition: opacity 0.5s ease;
}
.enlaces-pag:hover{
    color: black;
}

header {
    background-color: #c93d3d;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(253, 252, 252, 0.1);
    animation: bounceOnce 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    opacity: 1;
    transition: opacity 0.5s ease;
}

header h1 {
    font-family: 'EB Garamond', serif;
}

.trabajos {
    
    align-items: center;
    box-shadow: 1px 1px 10px black;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 20px;
    background:linear-gradient( rgb(28, 30, 50),white);
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border: solid 2px;
}

.titulos {
    display: flex;
    text-align: center;
    justify-content: center;
}
.titulos h4{
    background-color: #b30e0e;
   
    padding: 10px;
    box-shadow: black 1px 1px 20px;
    border-radius: 12px;
    
    font-size: 40px;
    color: white;
    font-family: 'Barlow', sans-serif;

}



.proyecto {
    
    width: 20%; 
    margin-bottom: 50px; 
    text-align: center; 
    background:linear-gradient(rgb(176, 176, 176),rgb(32, 113, 168));
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
    box-shadow: black 1px 1px 15px;
}
.proyecto:hover {
    transform: translateY(-5px); 
    background:linear-gradient(rgb(147, 218, 24), white);
    
}
.proyecto h3 {
    margin-bottom: 10px; 
    color: rgb(245, 240, 240);
    padding: 5px;
    background-color: #e60f0f;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    border: 0.5px solid;
    justify-content: center;
    align-items: center;
}

.proyecto p {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 252, 252);
    transition: transform 0.3s ease;
    
}

.proyecto:hover p {
    color: rgb(13, 11, 11);
}

.foto-registro {
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

.slider {
    overflow: hidden; 
    margin-top: 100px;
    width: 100%; 
    position: relative; 
}

.slider ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    gap: 50px;
}

.slider ul li {
    width: 100%;
    animation: slide 12s infinite; 
    animation-delay: 3s;
    margin: 0 5px;
}

.slider ul li img {
    width: 100%; 
    height: auto; 
    max-width: 250px; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}


.conocimientos{
   
   padding: 10px;
   text-align: center;
   background: linear-gradient(rgb(82, 200, 27), rgb(101, 101, 210));
   border: solid 1px white;
   box-shadow: 1px 1px 10px white;
   border-radius: 16px;
   margin: 15px;
   
  
}
.conocimientos h3{
    background-color: #b30e0e;
    letter-spacing: 1px;
    padding: 5px;
    box-shadow: black 1px 1px 8px;
    border-radius: 12px;
    
    font-size: 30px;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.parra-cono{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background: linear-gradient(rgb(40, 105, 43),rgb(131, 119, 119));
    border-radius: 10px;
    color: #eaeaea;
    box-shadow: 1px 1px 5px black;

}
.fotos-cono{
    padding: 10px;
    
    padding: 40px;
    border-radius: 10px;
    
   
}


.img-hab{
    height: 100%;
    max-height: 250px;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.video-uny{
    
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    display: block;
}
.img-hab:hover{
    transform: scale(1.1);
}
.ejemplos{
    display: flex;
    text-align: center;
    justify-content: center;
    
    gap: 10px; 
    flex-wrap: wrap;
    color: #eaeaea;
    background:linear-gradient(rgb(143, 140, 140),green);
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: black 1px 1px 15px;
    margin-top: 30px;
    margin: 50px;
    border: 1px solid rgb(231, 9, 9);
}
.ejemplos p{
    font-size: 30px;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
.fotos-fotoshop{
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 200px;
    
    
    text-align: center;
    border-radius: 5px;
    
    margin-top: 10px;

}


.personal{
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    background: linear-gradient(maroon, rgb(219, 219, 59));
    border-radius: 15px;
    margin: 80px;
    
    box-shadow:  1px 1px 15px black;
    margin-top: 40px;
}
.personal h2{
    justify-content: center;
    text-align: center;
    color: #eaeaea;
    font-size: 45px;
    font-family: 'Work Sans', sans-serif;
    
}
.personal p{
    justify-content: center;
    text-align: center;
    color: #eaeaea;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}
.personal img{
    max-width: 320px ;
    max-height: 350px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.personal img:hover{
    transform: scale(1.5);
    box-shadow: 1px 1px 10px black;
}

.solido{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 25px;
    background:linear-gradient(white, green);
    transition: all 3s ease-in-out;
    margin: 50px;
    border-radius: 10px;
    
}


.html{
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 520px;
    border-radius: 10px;
}

.solido p {
    color: #170b0b;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    transition: color 0.5s ease; /* Ajustar la transición solo para el cambio de color del texto */
}

.solido p:hover {
    background-color: #140c0c; /* Cambiar el color de fondo al pasar el ratón */
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease; /* Aplicar transiciones para ambos cambios de color */
}




.experiencia{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #d7eaaf;
    border-top: 5px solid rgb(34, 33, 33);
    
    text-align: center;

}
.experiencia img{
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 250px;
    border: solid 1.5px pink;
    border-radius: 12px;
}
.card1{
    padding: 15px;
    width: 100%;
    max-width: 500px;
    border-radius: 16px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    
    background: linear-gradient(rgb(137, 99, 105), rgb(192, 208, 115));
}
.card1 p{
    font-size: 26px;
    color: #eaeaea;
    background: #797272;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

.python{
    
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img_py{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_py img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 210px;
    transition: transform 0.3s ease;
}
.img_py img:hover{
    transform: scale(1.2);
    z-index: 3;
}
.parra_py {
    border-color: #fff;
    border-width: 3px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    color: #eee;
    margin: 2em;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px black;
    background: linear-gradient(rgb(127, 188, 218), rgb(207, 204, 204));
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    animation: border-animation 4s infinite alternate;
}

@keyframes border-animation {
    0% {
        border-color: #fff;
    }
    50% {
        border-color: #ff0000; /* Cambia el color a tu gusto */
    }
    100% {
        border-color: #fff;
    }
}
.parra_py {
    border-color: #fff;
    border-width: 3px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    color: #eee;
    margin: 2em;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px black;
    background: linear-gradient(rgb(127, 188, 218), rgb(207, 204, 204));
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    animation: border-animation 4s infinite alternate;
}

@keyframes border-animation {
    0% {
        border-color: #fff;
    }
    50% {
        border-color: #ff0000; /* Cambia el color a tu gusto */
    }
    100% {
        border-color: #fff;
    }
}



  
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-menu li a img{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 60px;
}
.footer-menu li a:hover {
    color: #ffcc00;
}






















/*responsive*/

@media screen and (max-width: 767px) {
    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-menu li {
        margin-bottom: 10px;
    }

    .footer-menu li:last-child {
        margin-bottom: 0;
    }

    .footer-menu li a {
        font-size: 14px;
    }

    .footer-menu li a img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 479px) {
    .footer-menu li a {
        font-size: 12px;
    }
    .personal{
        display: flex;
        text-align: center;
       
        align-items: center;
        padding: 10px;
        background: linear-gradient(maroon, rgb(219, 219, 59));
        border-radius: 8px;
        font-size: 10px;
        
        box-shadow:  1px 1px 8px black;
        
    }
    .footer-menu li a img {
        width: 25px;
        height: 25px;
    }
    .conocimientos{
        
    }
}





@media screen and (max-width: 767px) {
    .experiencia {
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        max-width: 90%;
        margin: 20px 0;
    }

    .card1 img {
        max-width: 100%;
        height: auto;
        max-height: 200px;
    }

    .card1 p {
        font-size: 18px;
    }
}

@media screen and (max-width: 479px) {
    .card1 p {
        font-size: 16px;
    }
}




@media screen and (max-width: 768px) {
    .trabajos {
        margin-top: 90px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        background-color: #3bccdf;
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .titulos {
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    
    .titulos h4 {
        font-size: 30px;
    }
    
    .proyecto {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .personal img {
        max-width: 250px;
        max-height: 300px;
    }
   
    
    .personal h2,
    .personal p {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    
    body {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

   
    .solido .html {
        max-width: 100%;
    }

   
    .personal img {
        max-width: 100%;
    }

    
    .slider ul li img {
        max-width: 100%;
        height: auto;
    }

    
    .fotos-fotoshop {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    body {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .solido .html {
        max-width: 100%;
    }

    .personal img {
        max-width: 100%;
    }

    .slider ul li img {
        max-width: 100%;
    }

    .fotos-fotoshop {
        max-width: 100%;
    }
}
@media screen and (max-width: 500px) {
    /* Restricción del tamaño máximo del cuerpo */
    body {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Ajuste de los elementos para mantener las proporciones */
    .solido,
    .personal,
    .slider ul li,
    .fotos-fotoshop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Establecer el ancho máximo de los elementos a la mitad del contenedor */
    .solido .html,
    .personal img,
    .slider ul li img,
    .fotos-fotoshop {
        max-width: 50%;
        height: auto; /* Ajustar la altura automáticamente para mantener la proporción */
    }

    /* Ajustar el ancho máximo de las imágenes de fotos de Photoshop */
    .fotos-fotoshop img {
        max-width: 100%;
    }
}
@media screen and (max-width: 499px) {
    .slider {
        margin-top: 170px;
    }
    .slider ul{
        gap: 5px;
    }

    .slider ul li {
        width: 100%; 
        max-width: 200px;
        height: 100%;
        max-height: 550px;
    }

    .slider ul li img {
        width: 100%;
        height: 100%;
        max-width: 300px; /* Reducir el ancho máximo de las imágenes */
        max-height: 250px;
        margin: 0 auto; /* Centrar las imágenes */
    }
    .proyecto{
        padding: 3px;
        margin-left: 5px;
        justify-content: space-around;
        margin-top: 2px;
        font-size: 8px;
    }
    .proyecto p{
        font-size: 15px;
    }
    .proyecto h3 {

        color: rgb(245, 240, 240);
        font-size: 15px;
        padding: 5px;
        background-color: #e60f0f;
        border-radius: 5px;
        margin-right: 5px;
        text-align: center;
        border: 0.5px solid;
        justify-content: center;
        align-items: center;
    }
    .trabajos{
       
        display: flex;
        padding: 5px;
       

        
    }
    .fotos-len{
        width: 100%;
        max-width: 150px;
        height: 100%;
        max-height: 150px;
    }
    .ejemplos{
        margin: 10px;
        display: flex;
        justify-content: space-around;
    }
    .conocimientos{
   
        padding: 5px;
        text-align: center;
        background: linear-gradient(pink, blue);
        
        border-radius: 14px;
        margin: 5px;
        
       
     }
     .personal{
        padding: 5px;
        margin: 10px;
     }
     .ejemplos p{
        font-size: 15px;
     }
     .img_py img{
        
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 100px;
     }
     
    header {
    background-color: #c93d3d;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    max-height: 100px;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(253, 252, 252, 0.1);
    animation: bounceOnce 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    opacity: 1;
    transition: opacity 0.5s ease;
}
     
}


